// variables 

//font-size
$f12: 1.2rem;
$f14: 1.4rem;
$f16: 1.6rem;
$f18: 1.8rem;
$f22: 2.2rem;
$f24: 2.4rem;
$f36: 3.6rem;
$f48: 4.8rem;


// colors
$cBlack: #2e3d47;
$cHeader: #2e3d47;
$cMenu: #20303b;
$cMenuBorder: #51bae9;
$cMain: #333;
$cBannerBackground: #e7e7e7;
$cGrey: rgba(0,0,0,0.54);