.first-view{
    background-color: $cBannerBackground;
    position: relative;

}

.main-one{

}
.h2 {
    padding-top: 25rem;
    font-family: $pm;
    font-size: $f36;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.hello {
    font-size: $f48;
    font-family: $nsb;
    letter-spacing: 0.4rem;
    // padding-top: 40rem;
}

.h3 {
    padding-top: 1rem;
    font-size: $f14;
    font-family: $nsb;
    letter-spacing: 0.5rem;
    padding-bottom: 5rem;
}

.my-image{
    position: absolute;
    height: 95%;
    right: 15%;
    top: 5%;
    bottom: 0;
}

